name: CI

on:
  pull_request:
  merge_group:
  push:
    branches:
      - 'master'

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout LiveSplit
        uses: actions/checkout@v4
        with:
          submodules: recursive
          repository: LiveSplit/LiveSplit

      - name: Checkout LiveSplit.AutoSplitters
        uses: actions/checkout@v4
        with:
          path: autosplitters_xml

      - name: Move Autosplitters XML
        run: mv -force autosplitters_xml/LiveSplit.AutoSplitters.xml .

      - name: Set up .NET environment
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Run tests
        run: >
          dotnet test
          -v m
          -c Release
          -p:PlatformTarget=x64
          -p:GenerateDocumentationFile=false
          -p:DebugType=None
          .\LiveSplit.sln
